# Latex #
*.fdb_latexmk
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Java #
*.class

# Package Files #
*.jar
*.war
*.ear
.DS_STORE

# Sublime Text 2 #
*.sublime-*

# Custom files #
Assignment\ 1/invlist
Assignment\ 1/lexicon
Assignment\ 1/map
Assignment\ 2/invlist
Assignment\ 2/lexicon
Assignment\ 2/map
Assignment 2/termIndex
Assignment 2/termLex
Assignment 2/termMap
